.hero {
    position: relative; 
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {    
      content: "";
      background-image: url('../car\ \(7\).png');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.55;
}

h1 {
  position: relative;
  color: #ffffff;  
  font-size: 14rem;
  line-height: 1.5;
}
.pl {
    position: relative;
    color: #ffffff;  
    font-size: 14rem;
    line-height: 0.9;
    text-align: center;
  }

